<!DOCTYPE html>
<html lang="en" class="{{ environment }} {{ mobile_detect }}">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{ title ensure_right=" / " }}{{ site_name }}</title>

</head>
<body class="loaded section-{{ segment_1 or "home" }}
{{ if segment_2 }} child-page section-{{ segment_2 }}{{ else }} parent-page{{ /if }}
{{ if current_uri == '/' }} intro{{ /if }}
{{ if is_entry }} is-post invert{{ /if }}">

{{ partial:navigation }}

{{ template_content }}

</body>
</html>
