<footer class="page-footer">

	{{ if twitter_url || facebook_url || instagram_url || tumblr_url }}
	<div class="links-container" id="links-container">
		<ul>
			{{ if twitter_url }}
			<li>
				<a href="{{ twitter_url }}" target="_blank">Twitter</a>
			</li>
			{{ /if }}
			{{ if facebook_url }}
			<li>
				<a href="{{ facebook_url }}" target="_blank">Facebook</a>
			</li>
			{{ /if }}
			{{ if youtube_url }}
			<li>
				<a href="{{ youtube_url }}" target="_blank">Youtube</a>
			</li>
			{{ /if }}
			{{ if instagram_url }}
			<li>
				<a href="{{ instagram_url }}" target="_blank">Instagram</a>
			</li>
			{{ /if }}
			{{ if tumblr_url }}
			<li>
				<a href="{{ tumblr_url }}" target="_blank">Tumblr</a>
			</li>
			{{ /if }}
		</ul>
	</div>
	{{ /if }}

	<div class="copyright-container" id="copyright-container">
		<p class="copyright">{{ copyright }}</p>
	</div>

</footer>
