<nav class="page-navigation">

    <ul>
       {{ nav from="/" include_home="true" max_depth="2" scope="tag" }}
          <li>
             <a href="{{ url }}"{{ if is_current || is_parent }} class="on"{{ /if }}>{{ title }}</a>
             {{ if is_current || is_parent }}
                {{ if children }}
                   <ul>{{ *recursive children* }}</ul>
                {{ /if }}
             {{ /if }}
          </li>
       {{ /nav }}
    </ul>

    <ul>
        {{ if logged_in }}
            <li><a href="{{ user:logout_url }}">Log out</a></li>
        {{ else }}
            <li><a href="{{ link to='login' }}">Log in</a></li>
        {{ /if }}
    </ul>

</nav>
