<style>.page-title span {color: red;}</style>

<header class="page-title">

	<h1>{{ title | smartypants | title }}</h1>

	<h3>Parent Page (raw)</h3>

	<ul>
		<li>Page Number: <span>{{ parent:order }}</span></li>
		<li>Title: <span>{{ parent:title }}</span></li>
		<li>Slug: <span>{{ parent:slug }}</span></li>
		<li>Box Initials: <span>{{ parent:title_box:initials }}</span></li>
		<li>Box Text: <span>{{ parent:title_box:text }}</span></li>
	</ul>

	<h3>Current Page (raw)</h3>

	<ul>
		<li>Page Number: <span>{{ order }}</span></li>
		<li>Title: <span>{{ title }}</span></li>
		<li>Slug: <span>{{ slug }}</span></li>
		<li>Box Initials: <span>{{ title_box:initials }}</span></li>
		<li>Box Text: <span>{{ title_box:text }}</span></li>
	</ul>

	<h3>Current Page (filtered)</h3>

	<ul>
		<li>Page Number: <span>{{ if segment_2 || parent }}{{ parent:order }}.{{ /if }}{{ order }}</span></li>
		<li>Title: <span>{{ title_box:text | smartypants or title | smartypants }}</span></li>
		<li>Slug: <span>{{ slug }}</span></li>
		<li>Box Initials: <span>{{ title_box:initials or title_box:text | substr:0:1 | title or title | substr:0:1 | title }}</span></li>
		<li>Box Text: <span>{{ title_box:text | smartypants or title | smartypants }}</span></li>
	</ul>

</header>
